* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
}

.banner {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(./domenico-loia-0m-eVEm7mfo-unsplash\ \(1\).jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar {
    display: flex;
    width: 85%;
    margin: auto;
    padding: 35px 0;
    font-size: 15px;
    align-items: center;
    justify-content: space-around;
}

.navbar ul li {
    display: inline-block;
    color: aliceblue;
    padding: 20px;
}

.navbar ul li a {
    text-decoration: none;
    color: aliceblue;
    text-transform: uppercase;
}

h1 {
    font-size: 40px;
    color: white;
}

.content {
    margin-top: 20%;
    top: 50%;
    width: 100%;
    transform: translateY(-50px);
    text-align: center;
    color: azure;
}

.content h1 {
    margin-top: 20px;
    font-size: 60px;
}

.content p {
    line-height: 25px;
    margin: 20px auto;
    font-size: 23px;
}

div button {
    background-color: black;
    color: aliceblue;
    margin: 20px;
    margin-top: 30px;
    padding: 20px;
    width: 140px;
    height: 80px;
    font-size: 15px;
    border-radius: 40px;
    border: 2px solid black;
}

div button:hover {
    background-color: darkgrey;
    color: black;
    transition: 0.5s;
}

main {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 30px;
}

main h1 {
    text-align: center;
    color: black;
    margin-top: 30px;
    font-size: 40px;
}

main p {
    text-align: center;
    line-height: 45px;
    margin-top: 30px;
}

main button {
    align-items: center;
}

#image {
    width: 450px;
    height: auto;
    border-radius: 50px;
    border: 2px solid black;
}

.left-content {
    margin-right: 30px;
    width: 30%;
    margin-bottom: 30px;
}

.right-content {
    margin-top: 50px;
    margin-bottom: 30px;
    margin-left: 30px;
}

#btn {
    height: 50px;
    color: azure;
    background-color: blue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 70%;
    font-size: 15px;
    border-radius: 20px;
    margin-bottom: 30px;
    border: 2px solid black;
    margin-left: 70px;
    padding: 15px;
}

#btn:hover {
    background-color: azure;
    color: black;
}